<div>
    <section style="padding: 10vh">
        <div class="container-fluid h-100">
            <div class="row h-100">
                <div class="col-md-3 col-lg-3 col-xl-2 menu">
                </div>
                <div class="col-md-9 col-lg-9 col-xl-10 form-section">
                    <form method="POST" action="" enctype="multipart/form-data" id="formularioArch">
                        <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                            <p class="lead fw-normal mb-0 me-3">Upload your document</p>
                        </div>
                
                        <div class="divider d-flex align-items-center my-4">
                            <p class="text-center fw-bold mx-3 mb-0"></p>
                        </div>

                        <div data-mdb-input-init class="form-outline mb-4">
                            <input type="file" id="file" name="file" class="form-control form-control-lg" required/>
                            <label class="form-label" for="file">Document Text</label>
                            {{#if error}}
                            <p class="small fw-bold mt-2 pt-1 mb-0" style="color: red">{{error}}</p>
                            {{/if}} <br>
                        </div>
                        

                        <div data-mdb-input-init class="form-outline mb-4">
                            <span style="font-size: 1.2rem; color: #333; font-weight: bold;">Employee ID: {{matricula}}</span>
                            <input type="hidden" id="source" name="source" value="{{matricula}}">
                        </div>

                        <label class="form-label" for="users">Quién firma?</label><br>
                        <div class="form-check form-check-inline">
                            <input style="opacity: 0.5; cursor: not-allowed;" class="form-check-input" type="checkbox" id="user_{{matricula}}" name="users" value="{{matricula}}" checked disabled>
                            <label for="user_{{matricula}}">{{matricula}} - {{name}}</label>
                        </div>
                        {{#each users}}
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="user_{{this.matricula}}" name="users" value="{{this.matricula}}">
                                    <label for="user_{{this.matricula}}">{{this.matricula}} - {{this.nombre}}</label>
                                </div>
                        {{/each}}

                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem; background: #06547E;">Subir minuta</button>
                        </div>
                    </form>
                    <script>
                        document.getElementById('formularioArch').addEventListener('submit', function(event) {
                            // Antes de enviar el formulario, eliminar el atributo 'disabled' del checkbox
                            document.getElementById('user_{{matricula}}').removeAttribute('disabled');
                        });
                    </script>
                </div>
            </div>
        </div>
    </section>
</div>
